nva.AdapterContable/Connected Services/ContableRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaContable" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaContable" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EstadoCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoCuenta" nillable="true" type="tns:EstadoCuenta" />
</xs:schema>