nva.AdapterContable/Connected Services/ContableRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaContable" />
  <xs:element name="RegistrarPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaContable" minOccurs="0" name="RegistrarPagoResult" nillable="true" type="q1:EstadoCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>